body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0;
  
}

header {
  border-bottom: 4px solid rgb(0, 0, 255);
  background-color: rgb(250, 250, 250);
}

.accelerator {
font-size: xx-large;
font-weight: bolder;
font-family: Georgia, 'Times New Roman', Times, serif;
}

header, p {
  font-weight: bold;
}

nav {
  font-size: medium;
}

@media (min-width: 600px)  {
 body {
    
  }
}

.backbase {
  font-size: x-large;
}

.select {
  width: 8vw;
}