body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 2fr 2fr;
  margin: 0;
  
}

header {
  border-bottom: 4px solid rgb(0, 0, 255);
  background-color: rgb(250, 250, 250);
}

.accelerator {
font-size: xx-large;
font-weight: bolder;
font-family: Georgia, 'Times New Roman', Times, serif;
}

header, p {
  font-weight: bold;
}

nav {
  font-size: medium;
}

@media (min-width: 600px)  {
 body {
    
  }
}

.backbase {
  font-size: x-large;
}

.select {
  width: 9vw;
}

.updated {
  width: 9vw;
}

.sort {
  border-top: 2px solid gray;
}

.results {
position: absolute;
top: 34.5%;
margin-left: 80%;
}

.add {
position: absolute;
margin-left: 81%;
top: 36.5%;
}